<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static',filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/introducing-co-pilot.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Reem Kufi:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="introducing-co-pilot">
      <img
        class="introducing-co-pilot-child"
        alt=""
        src="Background Gradient.jpeg"
      />

      <div class="what-we-know-about-user">
        <div class="what-we-know-about-user-child"></div>
        <div class="heres-what-we">Here’s what we know about you so far:</div>
        <div class="group-container">
          <div class="rectangle-parent5">
            <div class="group-child9"></div>
            <div class="low-income1">Low-income</div>
          </div>
          <div class="rectangle-parent6">
            <div class="group-child9"></div>
            <div class="high-schooler1">High Schooler</div>
          </div>
          <div class="rectangle-parent7">
            <div class="group-child11"></div>
            <div class="gpa-391">GPA: 3.9</div>
          </div>
          <div class="rectangle-parent8">
            <div class="group-child12"></div>
            <div class="minority-background1">Minority Background</div>
          </div>
          <div class="edit-button1">
            <div class="edit-button-item"></div>
            <img class="edit-05-icon1" alt="" src="edit-05.png" />
          </div>
        </div>
      </div>
      <div class="found-scholarships-stats">
        <div class="found-scholarships-stats-child"></div>
        <div class="these-are-the">These are the scholarships we found:</div>
        <div class="scholarships">1573+ Scholarships</div>
        <div class="div5">$104,000+</div>
        <div class="found-across-the">Found across the country</div>
        <div class="offered">Offered</div>
        <div class="found-scholarships-stats-item"></div>
        <div class="continue">Continue</div>
        <div class="found-scholarships-stats-inner"></div>
        <div class="found-scholarships-stats-child1"></div>
        <div class="found-scholarships-stats-child2"></div>
        <div class="found-scholarships-stats-child3"></div>
      </div>
      <div class="intro-block">
        <div class="intro-block-child"></div>
        <div class="introducing-eduaid-let">
          Introducing EduAid! Let us match you with scholarships that fit your
          interests and background. Spend more time on your education by using
          EduAid.
        </div>
      </div>
      <div class="nav-bar1">
        <div class="home1">Home</div>
        <div class="about-us1">About us</div>
        <div class="contact-us1">Contact Us</div>
        <div class="nav-bar-item"></div>
        <div class="sign-in1">Sign in</div>
      </div>
      <div class="logo2">
        <div class="logo-inner"></div>
        <img class="image-2-icon2" alt="" src="image 2.png" />

        <div class="eduaid3">EduAid</div>
      </div>
    </div>
  </body>
</html>
