<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./user-dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Reem Kufi:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="application-dashboard">
      <img class="glass-card-icon" alt="" src="./public/glass-card@2x.png" />

      <div class="glass-card">
        <div class="card"></div>
        <div class="scholarship-preview">
          <div class="scholarship-preview-child"></div>
          <div class="amount">$ AMOUNT</div>
          <div class="div">3/23/2024</div>
          <div class="scholarship-name">SCHOLARSHIP NAME</div>
        </div>
        <div class="scholarship-preview1">
          <div class="scholarship-preview-child"></div>
          <div class="amount">$ AMOUNT</div>
          <div class="div1">3/23/2024</div>
          <div class="scholarship-name">SCHOLARSHIP NAME</div>
        </div>
        <div class="applied">Applied:</div>
        <div class="attach-files-box">
          <div class="attach-files-box-child"></div>
          <img class="image-1-icon" alt="" src="./public/image-1@2x.png" />

          <div class="attach-files">Attach files</div>
          <div class="application-materials">Application Materials</div>
          <div class="application-materials1">
            Keep your files in one place.
          </div>
        </div>
        <div class="glass-card-child"></div>
        <div class="glass-card-item"></div>
        <div class="glass-card-inner"></div>
        <div class="attach-files1">My Story.pdf</div>
        <div class="user-icon">
          <div class="user-icon-child"></div>
          <div class="a">A</div>
        </div>
        <div class="group-parent">
          <div class="rectangle-group">
            <div class="group-item"></div>
            <div class="low-income">Low-income</div>
          </div>
          <div class="rectangle-container">
            <div class="group-item"></div>
            <div class="high-schooler">High Schooler</div>
          </div>
          <div class="group-div">
            <div class="rectangle-div"></div>
            <div class="gpa-39">GPA: 3.9</div>
          </div>
          <div class="rectangle-parent1">
            <div class="group-child1"></div>
            <div class="minority-background">Minority Background</div>
          </div>
          <div class="edit-button">
            <div class="edit-button-child"></div>
            <img class="edit-05-icon" alt="" src="./public/edit05.svg" />
          </div>
        </div>
      </div>
      <div class="status">Awarded</div>
      <div class="name">Scholarships Applied to:</div>
      <div class="name1">Amount Awarded:</div>
      <div class="name2">Your Profile:</div>
      <div class="ellipse-parent">
        <div class="ellipse-div"></div>
        <img class="ellipse-icon" alt="" src="./public/ellipse-97.svg" />

        <img class="group-child2" alt="" src="./public/ellipse-98.svg" />

        <div class="k">
          <span>$10</span>
          <span class="k1">k</span>
        </div>
      </div>
      <div class="name3">Amy Doe</div>
    </div>
  </body>
</html>
